nav {
  font-family: inherit;
  display: flex;
  justify-content: center;
  font-size: 25px
}

.navLink {
  margin-left: 1em;
  margin-right: 1em;
}

.aboutDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

nav a.active {
  background-color: #4286f4;
  border-radius: 5px;
  border: 1px solid black;
  color: white;
  text-decoration: none;
  padding: .3em;
}

nav a:hover {
  background-color: #4286f4;
  color: white;
  text-decoration: none;
  border: 1px solid black;
  padding: .3em;

}



.aboutBio {
  font-family: fantasy;
}

.homeDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

.portfolioDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

.contactDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

.refDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

.headShotDiv{
  margin-top: 2em;;
}

.headShot {
  border: 5px solid black;
  border-radius: 50%;
}
